{{>layouts/header}}

<!-- content -->
<div class="bg-dark text-white p-5" >
    <div style="margin-left: 380px; ">
        <h1 style=" margin-left: 182px; margin-bottom: 20px;">{{latestRelease}}</h1>
        <div style="background: whitesmoke; width:570px; height: 325px;   display : flex;justify-content: center;align-items : center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/POe9SOEKotk?autoplay=1&mute=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></body>
        </div>
    </div>

</div>

{{>layouts/footer}}